.newSongs {
    padding: 50px 0 0 50px;

    h3 {
        @include title();
    }
    .newSongs__content {
        ul {
            display: flex;
            flex-wrap: wrap;

            
            li {
                margin: 20px 30px 20px 0px;
                text-align: center;
                
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                img {
                    width: 150px;
                    border-radius: 10px;

                    &:hover {
                        box-shadow: 0 0 15px black;
                    }
                }

                h4 {
                    margin-top: 5px;
                    font-weight: bold;
                    font-size: 18px;
                }
                h5 {
                    margin-top: 10px;
                    font-size: 17px;
                }
            }
        }
    }
}