.topSongs {
    ul {
        li {
            margin: 20px;
            padding: 10px;

            display: flex;
            align-items: center;
            background-color: beige;
            border-radius: 30px;
            img {
                width: 50px;
            }
        }
    }
}